@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    text-align: center;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.georgia {
    font-family: Georgia, Times, serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}
.font2{
    text-align: center;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.bold-italic {
    font-weight: bold;
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

h3 {
    background-color: #90ee90;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.line-height {
    line-height: 3;
}

.lorem {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    border: 2px solid gray;
    text-indent: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}